* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    line-height: 1.2;

}
/*#region UTILITIES */

.col{
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.border {
    border: 4px solid #000;
}

.green {
    background-color: #00ff00 !important;
}

.magenta {
    background-color: #ff00ff !important;
}
/*#endregion UTILITIES */





/* #region HEADER */

nav { 
    height: 50px;
    background-color: green;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}
nav > *:first-child,nav > *:last-child {
    text-align: center;
    flex-basis: 400px;
}


.titles {
  
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 80vh;
    background-color: blue;
}

.header-button {
    flex-wrap: wrap;
}

.header-button > * {
    border: 4px solid #000;
    margin:10px 50px

}
/* #endregion HEADER */

/* #region main */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.cards section > div:not(:last-child) { /*TUTTE LE CARD TRANNE L'ULTIMA*/
    background-color: red;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 90vh;

}

.cards section > div:last-child { /*ULTIMA CARD*/
    background-color: gold;
    align-items: center;
    padding-top: 100px;
    flex-basis: 100vh;

}

/* #endregion main */

/* #region FOOTER */
footer {
    background-color: rgb(59, 0, 59);  
}
.links {
    padding-top: 100px;
    align-items: flex-start;
    justify-content: space-between;
    color: white;
    flex-basis: 70vh;
}

.links > div:first-child {
    flex-basis: 200px;
}

.bottomfoot {
    color: white;
    flex-basis: 50px;
    justify-content: space-between
}
/* #endregion FOOTER */